@model P2FixAnAppDotNetCode.Models.Order

<h2>@Localizer["OrderTitle"]</h2>

    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Index" method="post">
        <h3>@Localizer["ShipTo"]</h3>
        <div class="form-group">
            @* // SMO Bug B06 : add validation message support for name. *@
            <label>@Localizer["Name"]*:</label><input asp-for="Name" class="form-control" />@Html.ValidationMessageFor(model => model.Name)
        </div>
        <h3>@Localizer["Adress"]</h3>
        <div class="form-group">
            @* // SMO Bug B06 : add validation message support for adress. *@
            <label>@Localizer["Location"]*:</label><input asp-for="Address" class="form-control" />@Html.ValidationMessageFor(model => model.Address)
        </div>
        <div class="row">
            <div class="form-group col-4">
                @* // SMO Bug B06 : add validation message support for city. *@
                <label>@Localizer["City"]*:</label><input asp-for="City" class="form-control" />@Html.ValidationMessageFor(model => model.City)
            </div>
            <div class="form-group col-4">
                @* // SMO Bug B06 : upd zip code as mandatory. *@
                @* // SMO Bug B06 : add validation message support for zip. *@
                <label>@Localizer["Zip"]*:</label><input asp-for="Zip" class="form-control" />@Html.ValidationMessageFor(model => model.Zip)
            </div>
            <div class="form-group col-4">
                @* // SMO Bug B06 : add validation message support for country. *@
                <label>@Localizer["Country"]*:</label><input asp-for="Country" class="form-control" />@Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>
        <div class="text-center">
            @* 
            // SMO Bug B03 : it appears IsValid always True even when there are missing fields.
            // You can force it to False with :
            // ==> ViewData.ModelState.AddModelError(string.Empty, "Please fill required fields *");
            // But will never go back True, even if further fields are correctly filed.
            // 
            // Code tests saved in comment and keep only the confirmation message box.
            *@
        <input class="btn btn-primary" type="submit" value="@Localizer["CompleteOrder"]" onclick="return confirm('Please confirm the order?')" />
        @*<input class="btn btn-primary" type="submit" value="@Localizer["CompleteOrder"]" onclick="return confirm('"@Localizer["ConfirmOrder"]"')" />*@
        @* 
        Balise input avec @Localizer dans l'attribut onclick qui ne fonctionne pas (pb de string format) : onclick="return confirm('.@Localizer["ConfirmOrder"].')"
            <input class="btn btn-primary" type="submit" value="@Localizer["CompleteOrder"]" onclick="return confirm(@Localizer["ConfirmOrder"])" />
        Balise input avec string en dur dans le onclick : "return confirm('Please confirm the order?')"
            <input class="btn btn-primary" type="submit" value="@Localizer["CompleteOrder"]" onclick="return confirm('Please confirm the order?')" />
        *@
        </div> 
    </form>



